a.Druidtxt, a:hover.Druidtxt{ color:#FF7C0A; }
a.Huntertxt, a:hover.Huntertxt{ color:#AAD372; }
a.Magetxt, a:hover.Magetxt{ color:#68CCEF; }
a.Paladintxt, a:hover.Paladintxt{ color:#F48CBA; }
a.Priesttxt, a:hover.Priesttxt{ color:#ffffff; }
a.Roguetxt, a:hover.Roguetxt{ color:#FFF468; }
a.Shamantxt, a:hover.Shamantxt{ color:#00DBBA; }
a.Warlocktxt, a:hover.Warlocktxt{ color:#9382C9; }
a.Warriortxt, a:hover.Warriortxt{ color:#C69B6D; }
a.DeathKnighttxt, a:hover.DeathKnighttxt{ color:#F00; }
